<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BR's Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>

<header>
    <p>LEE BORAM</p>
    <p>Mini Homepage</p>
</header>

    <nav>
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/project">PROJECT</a>
        <a href="/board">BOARD</a>
    </nav>

    <footer>
        <p>&copy; 2023 LEE BORAM</p>
    </footer>

</body>
</html>
