<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BR's Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>

<header>
    <p>LEE BORAM</p>
    <p>Mini Homepage</p>
</header>

    <nav>
        <a href="/">HOME</a>
        <a href="/about">ABOUT</a>
        <a href="/project">PROJECT</a>
        <a href="/board">BOARD</a>
    </nav>

    <section id="home">
        <h2>Welcome to My Portfolio</h2>
        <p>This is the home section of your portfolio.</p>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>Write a brief introduction about yourself here.</p>
    </section>

    <section id="project">
        <h2>My Projects</h2>
        <p>Highlight some of your best projects and provide links or descriptions.</p>
    </section>

    <section id="board">
        <h2>board</h2>
        <p>Highlight some of your best projects and provide links or descriptions.</p>
    </section>

    <footer>
        <p>&copy; 2023 LEE BORAM</p>
    </footer>

</body>
</html>
